:root {
    --black: #000;
    --white: #fff;
    --wheat: #E8D2AE;
    --tumbleweed: #D7B29D;
    --background: #FFEBCD;
    --lavender: #EEE5E9;
    --champagne: #E9D8A6;
    --yellow: rgb(255, 205, 55);
    --altyellow: rgb(235, 194, 84);
    --red: rgb(249, 19, 22);
  }

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--red);
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  line-height: 1;
  font-family: 'Fraunces', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 200;
}

input, select, option, optgroup, textarea, button,
pre, code {
  font-size: 100%;
  font-family: inherit;
}

ol, ul {
  list-style: none;
}

/* Universal */
* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

/* General Styles */
body {
  background-color: var(--altyellow); /* or var(--background);  var(--yellow)*/
  font-family:  'Fraunces', serif;
  /* font-variant: small-caps; */
}

h2,
h3 {
  font-size: 2.5em;
}

p {
  font-size: 1.75em;
  /* margin: 15px 30%; */
  line-height: 120%;
}

/* Content */
.flex {
  flex: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  pointer-events: none;
}

.title {
  font-size: 3em;
}

.technical {
  font-size: 2em;
}

.competencies {
  font-size: 1.25em;
}

/* .indent {
  margin-left: 1.25em;
} */

/* Project Page */
.project-container {
  min-height: 100vh;
  background-color: var(--background);
}

#main-project {
  flex: 1 0 0;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  text-align: center;
  overflow: hidden;
  flex: 90%;
  background-color: var(--lavender);
 }
 
.project-card {
  flex: 1 0 0;
  flex-shrink: 2;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  text-align: center;
  overflow: hidden;
  flex: 30%;
  background-color: var(--lavender);
}
 
#main-project img,
.project-card img {
 width: 100%;
 opacity: 0.5;
 width: 100%;
 height: auto;
 transform: scale(1.15);
 transition: transform 0.5s, opacity 0.5s;
}
 
#main-project img:hover,
.project-card img:hover {
 opacity: 1;
 transform: scale(1.03);
}

.project-card a,
#main-project a {
  /* position: absolute; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* font-size: 5vw; */
  z-index: 1;
  font-weight: 300;
}

#main-project {
  border: 5px solid var(--black);
  border-radius: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.project-card {
  border: 3px solid var(--black);
  border-radius: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.repository {
  color: var(--black);
  margin-top: 15px;
  margin-bottom: 10px;
}

.repo-link {
  color: var(--red);
}

.photo {
  max-height: 25vh;
}
/* Project Page */

/* Links */
.links, .footer-links {
  /* line-height: 70px; */
  margin-bottom: 30px;
  color: var(--red);
}

.links a {
  text-decoration: none;
  margin-right: 40px;
  /* color: var(--black); */
  color: var(--red);
  border-bottom: 2px solid var(--black);
}
  
.links a:hover, .footer-links a:hover{
  background-color: var(--black);
  color: var(--white);
  transition: .5s ease-in-out;
}

.footer-links a {
  text-decoration: none;
  color: var(--red);
  border-bottom: 2px solid var(--black);
}
/* Links */

.navigation {
  display: flex;
  font-size: 3em;
  font-weight: 200;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
}
.navigation li {
  /* display: inline; */
  padding: 1em, 0em;
}

/* Sections */
header {
  /* display: flex; */
  align-items: center;
  padding: 1%, 0%, 1% ,1%;
  font-size: 3em;
}

#about-me {
  background-color: var(--background);
  font-weight: 300;
  justify-content: center;
  text-align: center;
  /* margin-top: 50px; /* 80px */
}

.about-me-container,
.technical-container {
  height: 100vh;
}

.about-me-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.technical-container {
  position: absolute;
  top: 125%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#contact {
  justify-content: center;
  text-align: center;
  line-height: 30px;
  margin-top: 80px;
  margin-bottom: 30px;
}

.footer {
  justify-content: center;
  text-align: center;
  font-size: 1em;
  font-weight: 200;
}

.footer li {
  margin: 0 0 0 0;
}
ul {
  list-style-type: none;
}

/* Homepage */
.big-ol-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.homepage {
  font-size: 3em;
  /* width: 968.17px; */
  width: 991.02px;
  line-height: 90%;
  text-align: right;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#name {
  font-size: 4em;
  text-align: center;
  font-weight: 200;
}

#profession {
  font-weight: 200;
  font-style: italic;
}

#developer, .underline {
  border-bottom: 1px solid var(--black);
}
/* Homepage */

/* Media */
@media screen and (max-width: 768px) {
  main,
  header,
  #main-project,
  .project-card,
  .flex,
  .navigation {
    flex-direction: column;
    display: block;
  }
  p.text {
    font-size: .5;
  }
}

@media screen and (max-width: 975px) {
  .homepage {width: 100vw;
             text-align: center;
             line-height: 110%;}
  #name {font-size: 2em;}
  #profession {text-align: right}
}

@media screen and (min-width: 1665px) {
  .about-me-content {
    max-width: 33%;
  }
}
/* Media */